body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.signup-container {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: gray;
}

.container h1{
    float: left;
    font-size: 40px;

    margin-bottom: 10px;
    padding: 3px 0;
}

.textbox-input {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 3px 0;
    margin: 8px 0;
}

