.home-container {
    color: dodgerblue;
    width: 600px;
    top: 25%;
    left: 45%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    display: flex;
}

.base-container {
    top:30%;
    left: 45%;
    width: 900px;
    display: flex;


}