.aboutus-container {
    width: 600px;
    top:30%;
    left: 35%;
    text-align: center;
    position: absolute;
    padding: 30px;
}

.aboutus-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    font-style: oblique;
    color: dodgerblue;
}
